<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>89811192939-mqo7j7e7addeol5t29bpvfj0p2kgdqg8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89811192939-mqo7j7e7addeol5t29bpvfj0p2kgdqg8</string>
	<key>API_KEY</key>
	<string>AIzaSyAYYtnsDTX3JeEdgEQxH46VcBRsRZYr9eQ</string>
	<key>GCM_SENDER_ID</key>
	<string>89811192939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.youknow.codelabFirebase</string>
	<key>PROJECT_ID</key>
	<string>codelab-flutter-firebase-deb84</string>
	<key>STORAGE_BUCKET</key>
	<string>codelab-flutter-firebase-deb84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89811192939:ios:6ecb55ef078a7f9b</string>
	<key>DATABASE_URL</key>
	<string>https://codelab-flutter-firebase-deb84.firebaseio.com</string>
</dict>
</plist>